@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ef9a9a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ef9a9a;
    --foreground: #ededed;
  }
}

body, html {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}
